/********* Footer *********/

#page-footer {
	
	color: #fff;
	font-size: 14px;
	background: darken($theme-color-primary, 10%);
	
	a {
        color: #fff;
        &:hover {
            color: #fff;
        }
    }
    
    
    .footerwidget {
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 60px;
        text-align: center;
        max-width: 760px;
        .title {
            margin-top:0;
            margin-bottom: 30px;
        }
    }
    
    .helplink {
        text-align: center;
        img {
           @include opacity(0.6); 
        }
    }

    
    .footer-col {
	    color: #fff;
	    &.links {
		    li {
			    margin-bottom: 10px;
		    }
		    a {
			    text-decoration: none;
			    &:hover {
				    text-decoration: underline;
			    }
		    }
	    }
        ul {
            margin-left: 0;
        }
        

        .fa {
            margin-right: 10px;    
        }
        .title {
            color: #fff;
            font-size: 20px;
            margin-bottom: 15px;
        }
        p {
            color: #fff;
        }   
        a {
            color: #fff;
            &:hover {
                color: #fff;
                text-decoration: underline;
            }
        }     
    }

    .logininfo {
	    margin-bottom: 30px;
    }
	
    .page-footer-inner {
	    padding-top: 30px;
	    padding-bottom: 30px;
    }
    
    
    .footer-widget {
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
        max-width: 760px;
        
    }
    
    .footer-widget-title {
	    font-size: 18px;
	    font-weight: 400;
        margin-top:0;
        margin-bottom: 15px;
        color: #fff;
    }

    
    .footer-social-media {
	    text-align: center;
	    margin-bottom: 30px;
    }
    
    .social-media-list {
	    margin: 0 auto;
		margin-bottom: 0;
		li {
			margin-right: 5px;
			&:last-child {
				margin-right: 0;
			}
		}
		a {
			color: darken($theme-color-primary, 10%);
			font-size: 18px;
			@include border-radius(50%);
			background: rgba(256, 256, 256, 0.8);
			display:inline-block;
			width: 36px;
		    height: 36px;
			text-align: center;
			padding-top:5px;
			@extend %button-shadow;
			&:hover {
				background: #fff;
			}
		}
	}
	
	.moodle-links-container {
	    text-align: center;
	    .nav {
		    text-align: center;
		    margin-bottom: 15px;
		    ul {
			    margin: 0 !important;
		    }
		    a {
			    text-decoration: none;
			    &:hover {
				    text-decoration: underline;
			    }
		    }
	    }
    }
   
    
    .footer-bottom-bar {
        background: darken($theme-color-primary, 20%);
        color: rgba(256, 256, 256, 0.8);
        padding: 10px 0;
        text-align: center;
        copyright {
	        font-size: 14px;
	         
        }
    }
    
}